{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
    <h1>Theme slaughter</h1>
    Oh, hi!

    <div class='themes'>
        <div class='theme'>
            <div class='name'>
                <span class='shadow pad round-left'>qweqweqweq</span>
            </div>
            <div class='buttons'>
                <span class='shadow round-right'>
                    <span class='btn yes' data-icon="&#10004;"></span><span class='btn neutral active' data-icon="&#8776;"></span><span class='btn no round-right' data-icon="&#10006;"></span>
                </span>
            </div>
            <div class='clear'></div>
        </div>

        <div class='theme'>
            <div class='name'>
                <span class='shadow pad round-left'>asd qwe 31 werwer werrrr</span>
            </div>
            <div class='buttons'>
                <span class='shadow round-right'>
                        <span class='btn yes active' data-icon="&#10004;"></span><span class='btn neutral' data-icon="&#8776;"></span><span class='btn no round-right' data-icon="&#10006;"></span>
                </span>
            </div>
            <div class='clear'></div>
        </div>

        <div class='theme'>
            <div class='name'>
                <span class='shadow pad round-left'>asd qwe 31 werwer werrrr</span>
            </div>
            <div class='buttons'>
                <span class='shadow round-right'>
                        <span class='btn yes' data-icon="&#10004;"></span><span class='btn neutral' data-icon="&#8776;"></span><span class='btn no round-right active' data-icon="&#10006;"></span>
                </span>
            </div>
            <div class='clear'></div>
        </div>
    </div>
</div>

{% endblock %}
